.main {
  margin-left: 50px;
  @media (max-width: 992px) {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  @media (min-width: 993px) and (max-width: 1199px) {
    margin-left: 75px;
  }
}

.btn {
}